*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.all_conteiner{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.cell_phone_pic{
    display: flex;
    width: 50%;
    
}

.cell_phone_pic img{
    width: 100%;
    overflow: hidden;
    
   
   
}

.for_flex_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.continue_box{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 70%;
    height:40%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border: 1px rgb(197, 197, 197) solid;
}


.logo_insta img{
    width: 10rem;
}

.perfil_pic img{
    width: 7rem;
    border-radius: 50%;
}
.continue_button{
    background-color: rgb(29, 142, 218);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    margin: 1.7rem ;
    font-size: 1rem;   
}
.remove_button{
    color: rgb(29, 142, 218);
}
.log-in-out_box{
    margin-top: 1rem;
    width: 70%;
    height: 5%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: white;
    border: 1px rgb(197, 197, 197) solid;
    padding: 2rem;
    color: rgba(0, 0, 0, 0.452);
}
.log-in-out_box span{
    color: rgb(29, 142, 218);
    cursor: pointer;
}

.download_App{
    width: 70%;
    margin-top: 1rem;
    padding: 1rem;
}

.download_App img{
    width: 11rem;
    cursor: pointer;
}

.download_App a{
    color: black;
}

.download-store{
    display: flex;
    justify-content: space-around;
    margin-top: .4rem;
}

/* celular queries*/

@media (max-width: 1024px) {
    .cell_phone_pic{
        display: none;
    }

    .logo_insta img{
        width: 15rem;
    }
    
    .for_flex_box{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .continue_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 60%;
        
    }

   
    .perfil_pic img{
        width: 10rem;
        border-radius: 50%;
    }
    
    
}

@media (max-width:500px) {
    .continue_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: none;
        
        
    }

    .continue_button{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 20rem; 
        height: 5rem;
        font-size: 1.2rem;

    }
    .remove_button{
        margin-top: 2rem;
        font-size: 1rem;
        
    }

    .log-in-out_box{
        width: 100%;
        height: 10%;
        border: none;
        margin: 0;
    }
    .download_App{
        width: 100%;
        height: 15%;
        background-color: white;
        margin: 0;
        flex-wrap: wrap;
    }
}
